* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    background: url("skyrim.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}



body div a {
    text-decoration: none;
    font-size: 50px;
    color: white;
}

#select {
    margin-top: 20px;
    margin-left: 50px;
}
select {
    margin-top: 50px;
    margin-left: 50px;
    padding: 0 20px;
    background: radial-gradient(white, 	#1B1C20);
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: inset 2px 2px 3px grey,
                inset -2px -2px 3px black;
    width: fit-content;
    height: 50px;
    font-size: 20px;
}

option {
    background-color: #1B1C20;
    color: white;
}

input {
    margin-left: 50px;
    padding: 0 20px;
    background: radial-gradient(white, 	#1B1C20);
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: inset 2px 2px 3px grey,
                inset -2px -2px 3px black;
    width: fit-content;
    height: 50px;
    font-size: 20px;
}

#zones {
    display: flex;
    flex-direction: column;
    display: flex;
    margin: 50px;
}

#zone_game {
    margin: 50px;
    font-size: 20px;
    color: white;
}

#zone_details {
    margin: 50px;
    font-size: 20px;
    color: white;
}

#zone_image {
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
}

#image img, #image2 img {
    max-width: 750px;
}
