* {
    margin: 0;
    padding: 0;
}

body {
    background: url("skyrim.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    margin: 0;
}

header {
    color:white;
    margin: 20px;
    padding: 20px;
}

h1 {
    font-size: 40px;
    margin: 20px;
    padding: 20px;
}

a {
    text-decoration: none;
    color:white;
    font-size: 50px;
    margin: 20px;
    padding: 20px;
}

main {
    color:white;
    padding: 20px;
}

main p {
    margin: 40px;
    padding: 20px;
    font-size: 20px;
}

